<!DOCTYPE html>
<html lang="en">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{{.Site.LinkDomain}} – GoatCounter</title>
	<link rel="stylesheet" href="{{.Asset "assets/backend.css"}}">
</head>

<body id="page-{{.Path | path_id}}">
	<noscript>
		<p>{{.T "top-nav/need-js|GoatCounter requires JavaScript enabled to function well; please allow JavaScript to run from %(domain)." .StaticDomain}}</p>
	</noscript>

	<nav class="center">
	
		<div id="domaininfo">
			<label class="hide" for="site-selector">Site</label>
			<select id="site-selector" aria-label="Site">
				{{range .Sites}}<option value="{{.Key}}" {{if eq .Key $.Site.Key}}selected{{end}}>{{.LinkDomain}}</option>{{end}}
			</select>
		</div>
	</nav>

	<div class="page">
	{{- if .Flash}}<div class="flash flash-{{.Flash.Level}}">{{.Flash.Message}}</div>{{end -}}
