	</div> {{- /* .page */}}

	<footer class="footer-timezone">
		Timezone: {{.TZName}} (UTC{{.TZOffsetDisplay}})
	</footer>

	<span id="js-settings"
		data-offset="{{.TZOffset}}"
		data-first-hit-at="{{.Site.FirstHitAt.Unix}}"
		data-dev="{{.Dev}}"
		{{if .Base}}data-base-path="{{.Base}}"{{end}}
	></span>
	<span id="js-i18n">{{.JSTranslations | json}}</span>

	<script crossorigin="anonymous" src="{{.Asset "assets/backend.js"}}"></script>
</body>
</html>
