<!DOCTYPE html>
<html lang="en">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{{if .Site.LinkDomain}}{{.Site.LinkDomainURL false}}{{else}}{{.Site.Domain .Context}}{{end}} – GoatCounter</title>
	<link rel="stylesheet" href="{{.Asset "assets/backend.css"}}">
</head>

<body id="page-{{.Path | path_id}}">
	<noscript>
		<p>{{.T "top-nav/need-js|GoatCounter requires JavaScript enabled to function well; please allow JavaScript to run from %(domain)." .StaticDomain}}</p>
	</noscript>

	<nav class="center">
	
		<div id="domaininfo">
			{{if .Site.LinkDomain -}}
				{{.T "top-nav/public-link|Analytics for %(domain)"
					(tag "a" (printf `target="_blank" rel="noopener" href="%s"` (.Site.LinkDomainURL true)) .Site.LinkDomain)
				}}
			{{end}}
		</div>
		{{- if .User.ID}}
		<div id="usermenu">
			<a {{if not (has_prefix .Path "/settings")}}class="active" {{end}}href="{{.Base}}/">{{.T "top-nav/dashboard|Dashboard"}}</a>
			<a {{if has_prefix .Path "/settings"}}class="active" {{end}}href="{{.Base}}/settings">{{.T "top-nav/settings|Settings"}}</a>
		</div>
		{{- end -}}
	</nav>

	<div class="page">
	{{- if .Flash}}<div class="flash flash-{{.Flash.Level}}">{{.Flash.Message}}</div>{{end -}}
