	</div> {{- /* .page */}}

	{{if or (.User.ID) (not .HideUI)}}
	{{end}}

	<span id="js-settings"
		data-offset="{{.TZOffset}}"
		data-first-hit-at="{{.Site.FirstHitAt.Unix}}"
		data-dev="{{.Dev}}"
		data-fewer-numbers="{{.Site.Settings.FewerNumbers}}"
		{{if .Base}}data-base-path="{{.Base}}"{{end}}
	></span>
	<span id="js-i18n">{{.JSTranslations | json}}</span>

	<script crossorigin="anonymous" src="{{.Asset "assets/backend.js"}}"></script>
</body>
</html>
