<div class="pages-list pages-list-text {{if .Group.Daily}}pages-list-daily{{end}} widget-{{if $.Loaded}}loaded{{else}}loading{{end}}" data-widget="{{.ID}}">
	<div class="widget-header">
		<h2><span>Pages</span>
			<small><span class="total-display">{{nformat .TotalDisplay}}</span> out of <span class="total">{{nformat .Total}}</span> visits shown</small>
		</h2>
	</div>

	<div class="hchart count-list-pages" data-widget="{{.ID}}" data-max="{{.Max}}">
		{{template "_chart.gohtml" (horizontal_chart_pages .Pages .Total .ShowRefs .Refs .ID false)}}
	</div>
	<div class="load-btns">
		<a href="#" class="load-more" {{if not .MorePages}}style="display: none"{{end}}>Show more</a>
		{{if .MorePages}}<a href="#" class="load-less">(show less)</a>{{end}}
	</div>
</div>
