{{- if .RowsOnly -}}
	{{if .Loaded}}{{template "_chart.gohtml" (horizontal_chart .Stats .Total .HasSubMenu true)}}{{else}}Loading…{{end}}
{{- else -}}
	<div class="hchart widget-{{if $.Loaded}}loaded{{else}}loading{{end}}" data-widget="{{.ID}}">
		<div class="widget-header">
			<h2>Top referrers</h2>
		</div>

		{{if .Err}}
			<em>Error: {{.Err.Error}}</em>
		{{else}}
			{{if .Loaded}}{{template "_chart.gohtml" (horizontal_chart .Stats .Total .HasSubMenu true)}}{{else}}Loading…{{end}}
		{{end}}
	</div>
{{- end -}}
