{{- if .RowsOnly -}}
	{{if .Loaded}}{{template "_chart.gohtml" (horizontal_chart .Stats .TotalUTC .HasSubMenu true)}}{{else}}Loading…{{end}}
{{- else -}}
	<div class="hchart widget-{{if $.Loaded}}loaded{{else}}loading{{end}}" data-widget="{{.ID}}">
		<div class="widget-header">
			<h2>{{.Header}}</h2>
		</div>
		{{if and (eq .Name "locations") .MostlyUnknown}}
			<div class="not-collected">
				Location lookups don't seem to work, and you probably need to configure your proxy.<br>
				This message is displayed when (unknown) is the top location,
				and it may take a few days to clear.
			</div>
		{{end}}
		{{if .Err}}
			<em>Error: {{.Err.Error}}</em>
		{{else}}
			{{if .Loaded}}{{template "_chart.gohtml" (horizontal_chart .Stats .TotalUTC .HasSubMenu true)}}{{else}}Loading…{{end}}
		{{end}}
	</div>
{{- end -}}
