<nav class="tab-nav">
	<a class="{{if has_prefix .Path "/settings/main"}}active{{end}}"   href="{{.Base}}/settings/main">{{.T "link/settings|Settings"}}</a>
	<a class="{{if has_prefix .Path "/settings/purge"}}active{{end}}"  href="{{.Base}}/settings/purge">{{.T "link/manage-pageviews|Manage pageviews"}}</a>
</nav>
