{{- template "_backend_top.gohtml" . -}}

<div id="print-header">
	GoatCounter report for {{tformat $.Context .Period.Start ""}} to {{tformat $.Context .Period.End ""}}
</div>

{{/* Hide in CSS as the JavaScript uses a number of the elements to render the charts. */}}
{{if .HideUI}}
	<style>
		#dash-form, nav.center { display: none; }
		.page                  { max-width: unset; box-shadow: unset; margin: 0; padding: 0; }
		html                   { background-color: unset; }
	</style>
{{end}}

<form id="dash-form">
	<input type="hidden" name="site" value="{{.Site.LinkDomain}}">
	{{/* The first button gets used on the enter key, AFAICT there is no way to change that. */}}
	<button type="submit" tabindex="-1" class="hide-btn" aria-label="Submit"></button>
	{{if .ShowRefs}}<input type="hidden" name="showrefs" value="{{.ShowRefs}}">{{end}}
	<input type="hidden" id="hl-period" name="hl-period" value="{{.HLPeriod}}" disabled>
	<input type="hidden" id="hl-group" name="group" value="{{.Group}}" disabled>

	<div id="dash-main">
		<div>
			<span>
				<input type="date" autocomplete="off" id="period-start" name="period-start"
					aria-label="First day to display"
					value="{{tformat $.Context .Period.Start ""}}"
				>–{{- "" -}}
				<input type="date" autocomplete="off" id="period-end" name="period-end"
					aria-label="Last day to display"
					value="{{tformat $.Context .Period.End ""}}"
				>{{- "" -}}
			</span>
			<span id="dash-select-period" class="period-{{.HLPeriod}}">
				<span>
					Last
					<button class="link" name="period" value="day">day</button> ·
					<button class="link" name="period" value="week">week</button> ·
					<button class="link" name="period" value="month">month</button> ·
					<button class="link" name="period" value="quarter">quarter</button> ·
					<button class="link" name="period" value="half-year">half year</button> ·
					<button class="link" name="period" value="year">year</button>
				</span>
			</span>
		</div>

		<div style="text-align: right">
			<div id="filter-outer">
				<div id="filter-wrap" class="input{{if .Filter}} value{{end}}">
					<div id="filter-styled" aria-hidden="true"></div>
					<input
						type="text" autocomplete="off" name="filter" value="{{.Filter}}" id="filter-paths"
						placeholder="Filter paths"
						class="unstyled">
				</div>
				<div id="filter-help">
					<p>Filter the list of paths; matched case-insensitive. <a href="#" id="filter-help-more">More help</a></p>

					<div>
						<p>Recognizes the following keywords:</p>
						<ul>
							<li><em>at:start</em>, <em>at:end</em>:       match only at the start or end of the path. Use both for exact match.</li>
							<li><em>is:event</em>, <em>is:pageview</em>   show only events or pageviews.</li>
							<li><em>:not</em> negate the match (that is: only show paths that don't match the filter).</li>
						</ul>
					</div>
				</div>
			</div>


			<span id="dash-select-group" class="group-{{.Group}}">
				View by:
               {{$dot := ""}}
               {{if .AllowGroups.Hourly}}
                   <button class="link" name="group" value="hour">hour</button>
                   {{$dot = "· "}}
               {{end}}
               {{if .AllowGroups.Daily}}
                   {{$dot}}<button class="link" name="group" value="day">day</button>
                   {{$dot = "· "}}
               {{end}}
               {{if .AllowGroups.Weekly}}
                   {{$dot}}<button class="link" name="group" value="week">week</button>
                   {{$dot = "· "}}
               {{end}}
               {{if .AllowGroups.Monthly}}
                   {{$dot}}<button class="link" name="group" value="month">month</button>
                   {{$dot = "· "}}
               {{end}}
               {{if .AllowGroups.Yearly}}
                   {{$dot}}<button class="link" name="group" value="year">year</button>
               {{end}}
               <input type="hidden" name="group" value="{{.Group}}">
			</span>
		</div>
	</div>
	<div id="dash-move">
		<div>
			←&#xfe0e; back
			<span>
				<button class="link" name="move" value="day-b">day</button> ·
				<button class="link" name="move" value="week-b">week</button> ·
				<button class="link" name="move" value="month-b">month</button> ·
				<button class="link" name="move" value="year-b">year</button>
			</span>
		</div>
		<div id="dash-timerange">{{.Period}}</div>
		<div>
			<span>
				<button class="link" name="move" value="day-f">day</button> ·
				<button class="link" name="move" value="week-f">week</button> ·
				<button class="link" name="move" value="month-f">month</button> ·
				<button class="link" name="move" value="year-f">year</button>
			</span>
			forward →&#xfe0e;
		</div>
	</div>
</form>
<span class="hide js-total">{{.Total}}</span>
<span class="hide js-total-utc">{{.TotalUTC}}</span>

{{template "_dashboard_widgets.gohtml" .}}

{{- template "_backend_bottom.gohtml" . }}
