	</div>
	<footer class="pb-5 text-center text-xs text-slate-400 dark:text-neutral-500 {{if .HideUI}}hidden{{end}} print:hidden">
		Timezone: {{.TZName}} (UTC{{.TZOffsetDisplay}})
	</footer>
	<script crossorigin="anonymous" src="{{.Asset "js/app.js"}}"></script>
</body>
</html>
